@media (min-width: 768px) {
  .card {
    min-width: var(--card-w-md);
    min-height: var(--card-h-md);
  }
}

/* Large screens */
@media (min-width: 1280px) {
    .card {
        min-width: var(--card-w-lg);
        min-height: var(--card-h-lg);
    }
}