@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
  }

  body {
    @apply bg-purple-dashboard text-gray-500;
    overflow-y:auto;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}